@model IEnumerable<PeopleSearch.Models.Person>
@{
    ViewBag.Title = "People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>People</h2>
<br />

@if (!Model.Any())
{
    <p>There are no people added yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
                <th>Interests</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PeopleSearch.Models.Person peep in Model)
            {
            <tr>
                @if (peep.Picture == null)
                {
                    <td>
                        <img src="~/Content/default-picture.png" />
                    </td>
                }
                else
                {
                    <td>"."</td>
                }
                <td>@peep.FirstName @peep.LastName</td>
                <td>@peep.Age</td>
                <td>@peep.Address<br />@peep.City, @peep.State @peep.Zip</td>
                <td>@peep.Interests</td>
            </tr>
            }
        </tbody>
    </table>
}

